<div class="container body-content">
    <div class="well"><h2>All Tags</h2>
        <div class="row">
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody> {{#each tags}}
                    <tr>
                        <td>{{ this.id }}</td>
                        <td>{{ this.name }}</td>
                        <td><a href="/admin/tags/edit/{{this.id}}">Edit</a> <a
                                href="/admin/tags/delete/{{this.id}}">Delete</a></td>
                    </tr> {{/each}} </tbody>
            </table>
        </div>
    </div>
</div>