<div class="container body-content span=8 offset=2">
    <h1 class="well">
        <fieldset>

                <h1>Contact My Blog</h1>
                </br>


            <h3>If you have any questions or issues, please feel free to contact us at: </h3>

                <h4> <div class="pull-left">Email :  admin@myblog.com</div>
                    </br>
                    <div class="pull-left">Contact Name :  Alexander</div>
                    </br>
                    <div class="pull-left">Phone: +359 888 99 8899</div>
                </h4>

                <div class="pull-right">
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4"><a class="btn btn-default" href="/">Back&raquo;</a>
                        </div>
                    </div>
                </div>

        </fieldset>
        </h1>
    </div>
</div>