<div class="container body-content span=8 offset=2">
    <div class="well">
        <fieldset>
            <user>
           <h1>User Details</h1>
                </br>
              <h4> <div class="pull-left">Your Email :  {{user.email}}</div>
                </br>
                <div class="pull-left">Your Name :  {{user.fullName}}</div>
                </br>
                <div class="pull-left">Articles Created : {{user.articles.length}}</div>
              </h4>

                <div class="pull-right">
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4"><a class="btn btn-default" href="/">Back&raquo;</a>
                    </div>
                </div>
            </div>
            </user>
        </fieldset>
    </div>
</div>